/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2018, 20:27:17
    Author     : user
*/

@font-face {
    font-family: "ClearSans";
    src: url('ClearSans-Regular.ttf');
}

.root {
    -fx-font-family: "ClearSans";
    -fx-base: hsb(310, 4%, 24%);
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom right 1.5%;
    -fx-background-size: 100 100;
    
}
.Menubar {
    -fx-font-size: 13px;
    -fx-padding-top: 3px;
    -fx-padding-bottom: 3px;
}
.GridPane {
    -fx-hgap: 4; 
}
